html{background: #421;
  color:#fff;
  font-family: 'Open Sans','Noto Sans JP', sans-serif;
  height: 100%;
  padding:0px;
}

body{
  background: linear-gradient(to bottom, #334, #556);
  padding: 20%;
  padding-top: 2%;}


.box{margin-top: 8px;width:40%;height:80px;
  font-family: 'Inconsolata', monospace;
  background:
    linear-gradient(45deg,transparent 12px,#d22 0,98%,transparent 0);
  opacity: 0.4;
  overflow: hidden;padding: 11px;}

.box:hover{ transition: all 0.4s;width:100%;
  background:
    linear-gradient(45deg,transparent 12px,#2d2 0,98%,transparent 0);
  mix-blend-mode:screen ;
  opacity:0.8;}

.boxes{text-align: center;}

h2{text-align: left;}

a{text-decoration: none;color: inherit;}
a:hover{color: white;}
